@CHARSET "UTF-8";

body {
    color: #666565;
    font: 14px/18px Arial,Helvetica,sans-serif;
    min-width: 1200px;
    position: relative;
}

a {
    color: inherit;
    outline: medium none;
    text-decoration: none;
    transition: all 0.5s ease 0s;
}


select{
 background: transparent;
 width: 154px;
 line-height: 1;
 border: 1;
}
#header {
  background: url("../images/header_bg.png") repeat-x scroll 0 0 #89AB0C;
  border-bottom: 1px solid #7D9E0C;
  position: relative;
  min-height:40px;
}

#header_content{
	
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 1200px;
	min-height:40px;
}

#user {
  color: #FFFFFF;
  font-size: 14px;
  margin: 5px 0 0 10px;
  width:200px;
  float:left;
}

.icon_user{
	width:30px;
	height:30px;
	vertical-align: middle;
}

#school_name{
	color: #FFFFFF;
	font-size: 20px;
	margin: 10px 0 0 100px;
	width: 400px;
	float:left;
}

#mail{
	margin: 5px 0 0 50px;
	float:left;
}

.icon_mail{
	width:30px;
	height:30px;
	vertical-align: middle;

}

#myschool{
	color: #FFFFFF;
	font-size: 20px;
	margin: 10px 0 0 150px;
	width: 100px;
	float:left;
}

#myschool_login{
	color: #FFFFFF;
	font-size: 20px;
	margin: 10px 0 0 550px;
	width: 100px;
	float:left;
}

#post_conteneur{
	width: 982px;
	margin:30px 200px;
	height: 1000px;
	background-color: #F6FEEE;
	border-radius: 3px 3px 3px 3px;
	position: absolute;
	
}

#login_conteneur{
	width: 500px;
	margin:100px 450px;
	height: 300px;
	background-color: #F6FEEE;
	border-radius: 3px 3px 3px 3px;
	position: absolute;
	
}

#main_conteneur{
	width: 1400px;
	margin:0 auto;
	height: 1000px;
	background-repeat:no-repeat;
	background-size : cover;
	
}

.with_bg{
	background-image: url("../images/photo_saint_martin.jpg");
}

.no_bg{
	background-image: url("../images/back-to-school.jpg");
}

.post {
  background-color: #FFFFFF;
  border-color: #D8D8D8;
  border-image: none;
  border-left: 1px solid #D8D8D8;
  border-radius: 3px 3px 3px 3px;
  border-right: 1px solid #D8D8D8;
  border-style: solid;
  border-width: 0 1px 2px;
  margin: 20px 0px; 
  width: 500px;
  height: 300px;
  float : left;
}

#nom_createur{
	margin:5px 5px;
	float: left;
}

#createur{
	border-bottom: 1px solid;
	height: 40px;
}

#poste{
	margin-top:10px;
	margin-left : 220px;
	float: left;
}

#post_content{
	height: 220px;
	border-bottom: 1px solid;
}

.post_content_image{
	width : 150px;
	height : 200px;
	float: left;
	margin-top : 5px;
	margin-left : 5px;
	}
	
.post_content_texte{
	margin-top : 5px;
	margin-left : 5px;
	float: left;
	width : 320px;

	}
#valid
{
	position:absolute;
	margin-top:-300px;
	margin-left : 485px;

}

#post_comment{
	height: 30px;
}

#post_comment_nb{
	float: left;
	margin-top: 10px;
	margin-left: 10px;
}

#post_comment_write_tools{
	float: left;
	margin-top: 5px;
	margin-left: 350px;
}

.post_comment_write_icon{
	width: 30px;
	height: 30px;
}
.image_valid{
		width: 25px;
	height: 25px;
}

#left_conteneur{
	float: left;
	width: 350px;
}

#center_conteneur{
	float: left;
	width: 550px;
	margin-left:40px;
}


.left_post {
  background-color: #FFFFFF;
  border-color: #D8D8D8;
  border-image: none;
  border-left: 1px solid #D8D8D8;
  border-radius: 3px 3px 3px 3px;
  border-right: 1px solid #D8D8D8;
  border-style: solid;
  border-width: 0 1px 2px;
  margin: 20px 40px; 
  width: 300px;
  min-height: 100px;
  float : left;
}

#logo_ecole{
	float:left;
}

#infos_ecole{
	float:left;
	font-size: 12px;
	margin-left:5px;
}

.icon_calendar{
	width:30px;
	height:30px;
	vertical-align: middle;
	float:left;
		margin-top : 5px;
	margin-left : 5px;
}

#agenda_title{
	border-bottom: 1px solid;
	height: 40px;
	width:300px;
}

#agenda_title_text{
	margin:10px 10px;
	float: left;
}

#agenda_content{
	margin-top : 10px;
	position: relative;
}

.toolbox {
  background-color: #FFFFFF;
  border-color: #D8D8D8;
  border-image: none;
  border-left: 1px solid #D8D8D8;
  border-radius: 3px 3px 3px 3px;
  border-right: 1px solid #D8D8D8;
  border-style: solid;
  border-width: 0 1px 2px;
  margin: 20px 0px; 
  width: 500px;
  height: 40px;
  float : left;
}

#mask{
	font-size: 12px;
	float: left;
	margin-top:10px;
	margin-left:10px;
}

#filter{
	font-size: 12px;
	float: left;
	margin-top:10px;
	margin-left:40px;
}

#user_login{
	font-size: 20px;
	float: right;
	margin-top:50px;
	margin-right:200px;
	
}

#pass_login{
	font-size: 20px;
	float: right;
	margin-top:50px;
	margin-right:200px;
	
}

#button_login{
	font-size: 20px;
	float: left;
	margin-top:50px;
	margin-left:100px;
	width: 100px;
}

#remember_me{
	font-size: 12px;
	float: left;
	margin-top:50px;
	margin-right:200px;
	width: 130px;
	
}

#error_login{
	font-size: 13px;
	color:red;
	float: right;
	width: 300px;
}

#tools_login{
	float: left;
	width: 400px;
}

#current_admin_page{
  background-color: #FFFFFF;
  border-color: #D8D8D8;
  border-image: none;
  border-left: 1px solid #D8D8D8;
  border-radius: 3px 3px 3px 3px;
  border-right: 1px solid #D8D8D8;
  border-style: solid;
  border-width: 0 1px 2px;
  margin: 20px 0px; 
  width: 700px;
  height: 500px;
  float : left;

}

#left_admin{
  background-color: #FFFFFF;
  border-color: #D8D8D8;
  border-image: none;
  border-left: 1px solid #D8D8D8;
  border-radius: 3px 3px 3px 3px;
  border-right: 1px solid #D8D8D8;
  border-style: solid;
  border-width: 0 1px 2px;
  margin: 20px 40px; 
  width: 200px;
  height: 500px;
  float : left;
}

#left_admin_conteneur{
	float: left;
	width: 210px;
}

.floatleft{
	float: left;
}
.floatright{
	float: right;
}

#button_submit_infos{
	float:left;
}